<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalles del producto</title>
</head>
<body>
    <h1>Detalles del producto</h1>
    <p>Id: <span th:text="${producto.id}"></span></p>
    <p>Nombre: <span th:text="${producto.nombre}"></span></p>
    <p>Descripcion: <span th:text="${producto.descripcion}"></span></p>
    <p>Referencia: <span th:text="${producto.referencia}"></span></p>
    <p>Marca: <span th:text="${producto.marca}"></span></p>
    
</body>
</html>